<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clase_10_Library.Properties.Settings.CadenaConexion"
            connectionString="Data Source=I05\SQLEXPRESS2008;Initial Catalog=Clase_21;Persist Security Info=True;User ID=sa;Password=911"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>